@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Accordion custom css */
.MuiAccordion-gutters::before {
  opacity: 0 !important;
}

.MuiAccordion-gutters.Mui-expanded {
  margin: 20px 15px 0 15px !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.LoginContainer{
  padding: 20pt !important;
}
/* .loginContainer {
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
} */

.SummaryMain {
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 10px;
  color: #838383;
  margin-bottom: 15pt;
}

.stepFormButtonGroup {
  display: flex !important;
  justify-content: space-between;
  margin-top: 20px;
  box-shadow: none !important;
}

.stepFormButtonGroup button {
  border-radius: 4px !important;
}

.wrapper-main {
  margin: 0 auto;
  width: 50%;
}

.wrapper-main .summaryData {
  color: #838383;
}

.buttonMain {
  display: block !important;
  margin-top: 20px !important;
}

.DialogTitle {
  color: red;
  font-weight: bold;
}

.details-page-wrapper label {
  font-style: normal !important;
}

.details-page-wrapper label,
.details-page-wrapper h6 {
  color: '#808080';
  font-style: italic;
}

.sitemap-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: baseline;
  justify-content: center;
  column-gap: 20pt;
}

.sitemap-container .MuiPaper-elevation {
  min-height: 230pt;
}

.sitemap-container .topLabel:hover {
  color: black;
}

.sitemap-container .MuiMenuItem-root:hover {
  cursor: default;
}

.reviewWrapper:nth-child(odd) {
  background-color: #f1f1f1;
}

.MuiFormHelperText-root {
  font-size: 9pt !important;
}
.monthlyDatePicker .MuiStack-root:first-child{
  justify-content: space-around;
}
.monthlyDatePicker .MuiStack-root .MuiStack-root:first-child{
  margin-top: 0;
  margin-right: 25px;
}
.monthlyDatePicker .MuiStack-root .MuiStack-root:last-child{
  margin-top: 0;
}
.monthlyDatePicker .monthcal {
  border-radius: 4px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
  0px 1px 1px 0px rgba(0,0,0,0.14),
  0px 1px 3px 0px rgba(0,0,0,0.12);
}
.blinkItem{
  color: red;
  animation: blinker 2s linear infinite;
}
.blinkIteminput{
  margin-top: 4px !important;
}
.blinkIteminput input{
   background-color: #ffffff;
   height: 10px;
  text-align: center !important;
}
@keyframes blinker {
  50% {
    opacity: 0
  }
}
.checboxwrapper{
  margin-top: 10px;
}
.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.loadingicon{
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.SelectedSiteName{
  vertical-align: top;
  margin-top: -30px;
  background-color: bisque;
  padding: 10pt;
}
.ChangePasswrapper{
  margin: 0 auto;
  max-width: 500pt;
  padding-top: 20pt;
}
.labelvalue{
  color: #255cb1;
  padding-left: 7pt;
}
.wrapperPrint{
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 20pt;
  margin: 10pt;
  background-color: #eee;
}